[2016-10-06 04:44] bjornharvold opened #1 "Question on instantiation"
Great code here. I wonder where is the best place to instantiate the LoggerFactory? Does it occur in every class or should it just happen one time?

An example on this would be great. I am working with Angular CLI.

Cheers,
Bjorn

[2016-10-06 15:54] mreuvers commented on #1
Hello Bjorn,

Glad you like it. :)

As you work with Angular, I assume here you're probably building a single page app? In that case the LoggerFactory can easily live in just one place and be configured there, for example like this:

LoggerOptions.ts
--------------------------------------
`import {LFService, LoggerFactoryOptions, LogGroupRule, LogLevel} from "typescript-logging"

const loggerOptio

[2016-10-07 02:20] bjornharvold commented on #1
Thank you Martijn! Great answer :-)

[2016-10-07 02:20] #1 closed

[2016-12-19 22:19] HNeukermans opened #2 "how do I prefix each message, from a named logger with it's name ?"
desired scenario:

//create a named logger.
var logger = LFService.createLoggerFactory().getLogger('chatbox');

//write a message to the log. The name of the logger is prefixed.
logger.info('started') => should output 'chatbox: started';

Does your library support this kind of scenario ? If not, can I solve it with a customlogger? How then?

[2016-12-20 16:47] mreuvers commented on #2
Hello, by default the name is already present (prefixed). In your example the log statement will look similar to:

`2016-12-20 17:44:26,216 INFO [chatbox] started`

[2016-12-21 22:20] HNeukermans commented on #2
Nice on. Maybe you can add it to the readme documentation?

[2016-12-22 09:43] mreuvers commented on #2
Good idea, I will leave this issue open to track. Within a few weeks from now I hope to release a new version and will add it.

[2017-01-14 09:25] mreuvers commented on #2
A new release has been made a few days ago, and the documentation now also shows an example of the logging. Feel free to check it out, there's a chrome developer extension now too.

Closing this issue. :)

[2017-01-14 09:25] #2 closed

[2017-03-01 23:49] thefunnyman opened #3 "ReferenceError: window is not defined"
Hi,

I'm using the latest 0.2.0 release of this lib and i'm getting an error when i run the code described in the 0.2.0 documentation.

Here's the stacktrace. This is not a browser-based application, so "window" wouldn't be defined.

[code]

[2017-03-02 07:15] mreuvers commented on #3
Hello,

Thank you for logging the problem. This needs to be fixed. For context what are you using in this case?

[2017-03-03 00:32] thefunnyman commented on #3
Hi @mreuvers!

Please find attached a zip project that demonstrates the bug. For my use case, i'm exposing a hapijs web service.
[typescript-sample.zip](https://github.com/mreuvers/typescript-logging/files/815454/typescript-sample.zip)

[2017-03-03 08:53] mreuvers commented on #3
Thank you @thefunnyman , it reproduces for me running it through node as well.
I'll get it fixed today/tomorrow.

[2017-03-03 15:51] mreuvers commented on #3
Hello @thefunnyman

The issue should be fixed, I pushed version 0.2.1 to npm which should be available shortly. Please let me know if the issue has been resolved for you.

[2017-03-03 16:40] thefunnyman commented on #3
I can see logs now. thanks so much! I'll open another ticket or explore some of the code myself if i see any other issues.

[2017-03-03 20:43] mreuvers commented on #3
No problem. :) If you run into an issue again, please let me know (hopefully not too many though ;)).

[2017-03-03 20:43] #3 closed

[2017-03-13 09:55] CSchulz opened #4 "Allow customization log message for log4j style AbstractLogger"
It would be nice if it is possible to use user defined tokens in the log message pattern.

If it should not be part of the library, it would be good to get some documentation how to implement own log formats.

[2017-03-13 13:52] CSchulz opened #5 "LoggerImpl.d.ts file seems to be outdated"
I have installed the package via npm and recognized I have to overwrite `protected abstract doLog(msg: string, logLevel: LogLevel): void;`

The current release states the method `protected abstract doLog(msg: CategoryLogMessage): void;`.

[2017-03-13 14:04] CSchulz commented on #5
My fault, tried to extend the wrong abstract class.

[2017-03-13 14:04] #5 closed

[2017-03-13 17:08] mreuvers commented on #4
Hello @CSchulz

Can you give some example(s) what you are thinking about?

[2017-03-13 17:17] CSchulz commented on #4
For example to log a request ID or similar.

In general a possibility to specify another log format or allow to overwrite the createMessage method would be another good way.

[2017-03-13 20:22] mreuvers commented on #4
Hello @CSchulz

Ok, then I assume you are using the log4j variant here (the categorized variant allows customization of the message already).

The code of log4j is older, but it makes sense to allow it here as well. This will break backwards compatibility for AbstractLogger (those that may currently extend it) - but I need to break it already for the next release anyway, so I better add this in th

[2017-03-14 09:08] CSchulz commented on #4
That sounds good.

It would be good if all information can be accessed atomic to generate a complete own data structure, f.e. remote log appender or just log into console.

Another good point would be the support of params in the template like `log('user %s logged in', username)`.
I am not sure if it is possible to solve with closure as well.

Are there any plans when the next release happens? Any

[2017-03-14 16:37] mreuvers commented on #4
Hello @CSchulz

For the %s format, I would suggest you to use Typescripts out of the box template scripting support instead. Your line would then look like: ```log(`user ${username} logged in`);```  (Note the use of the back-ticks).

There is currently no hard deadline for a release date, as I am doing this in my spare time next to my normal work. The next planned release is 0.3, and will contain

[2017-03-31 10:42] mreuvers commented on #4
Hello @CSchulz

I just released 0.3.0, which also contains the enhancement for this issue. Thanks for reporting it! Closing this issue now.

[2017-03-31 10:42] #4 closed

[2017-04-10 15:43] mreuvers opened #8 "Remove "Dropping unknown message""
As reported and fixed in pull request by @TobiasWalle to drop the unnecessary logging of "Dropping unknown message". This message is really only relevant for the browser extension and now pollutes the console for no particular reason if other libraries/frameworks use browser post messaging.

[2017-04-10 18:08] mreuvers commented on #8
@TobiasWalle I just pushed 0.3.1 with your fix to npm, once ok can you close this issue?

Sorry that the pull request was closed but it always does that automatically on merge and I tend to forget that. So you can continue the chat here if you like.

[2017-04-10 19:20] TobiasWalle commented on #8
@mreuvers Everything works fine now :) Thank you for accepting my pull request
The issue can be closed.

[2017-04-11 12:22] mreuvers commented on #8
You're welcome and thank you for the pull request. :)

[2017-04-11 12:22] #8 closed

[2017-04-13 09:21] CSchulz opened #9 "Allow easy customization of LogMessage / CategoryLogMessage for existing LoggerTypes"
At the moment the developer has to implement a complete new sub class, if he wants to overwrite `createDefaultLogMessage`.

It would be cool, if this method can be configured via closure or similar to change the generation of the message itself and nothing else.

[2017-04-13 15:31] mreuvers commented on #9
Hello @CSchulz

What do you mean exactly in this case? For custom loggers you already need to implement doLog(..) and effectively decide what the format will look like there.

Maybe you're talking about existing classes, such as ConsoleLoggerImpl and want to modify it for these?

[2017-04-13 15:34] CSchulz commented on #9
I just want to change the layout of the message but want to use the same console logger implementation.

Yes you are right I can overwrite the implementation, but I think it could be nice just to have the possibility to overwrite the format by passing in another method to create the message. It should take the LogMessage object and return the string.

[2017-04-13 18:20] mreuvers commented on #9
Hello @CSchulz

Ok that's indeed for using an existing implementation then.

I will plan it in and it will be added for both the log4j style and category style logging.
It can be applied then for all existing logging types (except for custom as that makes no sense).

Thanks for logging the issue.

[2017-05-03 14:44] Lexanius opened #10 "Logger not display debug messages in Chrome"
Hiho,

The debug messages is not shown in Chrome console. The trace and info will. In Firefox it will show the debug messages.
`logger.info("" + logger.isDebugEnabled())` will display true for the logger

Usage: a ionic 2 project.

Chrome: Version 58.0.3029.96 (64-bit)

My config:
[code]

`const logger: Logger = LogFactory.getLogger("Name")`

[2017-05-03 15:33] mreuvers commented on #10
Hello @Lexanius

Thank you for logging the issue.

Can you please check that in the chrome console, at the top - the filter is set to "Verbose"? That should make the debug appear as well. Does this work for you?

[2017-05-03 15:50] Lexanius commented on #10
Yes it work. It was info. Never used this option before.

[2017-05-03 15:50] #10 closed

[2017-05-08 16:45] madCoder24 opened #11 "doLog doesn't seem to be called"
I have implemented a custom logger that logs to a file but the method doLog() doesn't appear to ever be called. Is there an issue with how I implemented the custom logging class? Any advice offered would be greatly appreciated.

If I log from within the constructor of the custom logger class it will write to the file just fine. So it seems like the issue is with doLog().

typescript-logging: 0.3.1

[2017-05-08 19:57] mreuvers commented on #11
Hello @madCoder24

For what I can tell based on your code on first glance, it looks fine. So it's odd if doLog(..) isn't called.

* Can you try logging on console or even throw an Error to see it doesn't get there ever?
* Your settings are set to log on debug by default, on what level(s) are you trying to log?
* Are you using the lambda variant (those ending in 'c' e.g. errorc) to log? Maybe you c

[2017-05-08 20:43] madCoder24 commented on #11
Logging on console works just fine for me.

I am logging on debug.

This is one of my logging statements and the rest aren't any different other than the message.
`logger.debug('testing the logger');`

I will give you a link to the sample app that I am currently working with for this project. If there is anything else that I can answer. Please let me know. I am working in Angular with Electron und

[2017-05-09 07:11] mreuvers commented on #11
Hello @madCoder24

I tried to use the app but ng build gives errors. Tonight after work I have a bit more time to look. Can you maybe tell me exactly what to do, to build and finally what to do in the app to trigger the logging?

Thanks.

[2017-05-09 18:14] madCoder24 commented on #11
I cut the repo way down for you. So download it again and run "npm install" and then run "node_modules/.bin/electron-angular-toolkit build" then run "node_modules/.bin/electron .". You should be able to run "ng build" as well, but I have been using electron-angular-toolkit for my build purposes. It is possible that this use case isn't supported at all since the angular CLI doesn't technically supp

[2017-05-09 19:56] mreuvers commented on #11
Thanks I got some further this time but not as far as hoped.

Did clone, npm install and that went fine. The separate commands did not work unfortunately, it was looking for "ng" in my path which I don't have (it's only in node_modules).

Instead tried to use: 'npm run build' and that worked. Followed by 'npm run start' and that worked too (started server). When I opened the address in the browser

[2017-05-09 20:19] madCoder24 commented on #11
I pushed a change to the repository to add another script to the package.json file.

So, in essence, add the following to the package.json file.

Run that command after "npm run build". This will bring up an electron app and it should write a text file to /tmp/ui-log.txt

[2017-05-10 06:26] mreuvers commented on #11
That works and pops up the browser (firefox in my case). The console however has an error in the vendor.js, it seems to be unhappy with fs.existsSync
[code]
From the vendor bundle to give some context it was here:
[code]

[2017-05-10 15:57] madCoder24 commented on #11
Really? That happens even when you run "npm run electron"? It should create an electron window and shouldn't pop up a browser.

Before we go any further let me run this project in Linux just so that we are in the same environment. I won't be able to do that until later today. I will get back to you.

[2017-05-10 16:38] mreuvers commented on #11
It is not firefox (sorry didn't know what it was supposed to show), it is a window without address bar and all that, and a minimum menu bar. So I guess it's the thing you expect. :) The text in it says "Loading..."
I did a control+shift+i to see the console (which is why I thought it was firefox, it probably uses it partially).

[code]
Anyway, I debugged through the code above and the require('fs'

[2017-05-10 21:07] madCoder24 commented on #11
No worries. I wasn't the clearest in what to expect when running the program. So I tried this repo in a Linux environment and I don't have that error.
I want to double check what commands you are running.

I ran "npm install" then "node_modules/.bin/electron-angular-toolkit" which will build the application. It seems that "ng build" doesn't package things together correctly. I have had better luck

[2017-05-11 09:14] mreuvers commented on #11
Unfortunately that does not work for me.

The command: "node_modules/.bin/electron-angular-toolkit build" fails (see below), it expects 'ng' to be in my normal shell path which I don't have (you maybe do?). I tried "node_modules/.bin/electron-angular-toolkit prepare" first as well, that works, followed by "node_modules/.bin/electron-angular-toolkit build" but that still gives the same error.

[cod

[2017-05-11 15:46] madCoder24 commented on #11
It is up to you if you want to install ng globally. I have it installed globally on my system. I am prepared to walk away from this issue not because of the library, but because the angular CLI just isn't ready for this type of project. There just isn't much control allowed over the underlying webpack configuration and my running theory is that something is or isn't getting bundled correctly.

On

[2017-05-11 17:50] mreuvers commented on #11
Hello @madCoder24

I got it running at last! :) I just put the ./node_modules/.bin/ng on the path temporally so it was happy now.

The app actually launched correctly now as well. I did debug the log code now and noticed that the level of the root category was not changed, so that ended up in not logging (it still thought it was error so skipped).

That made me look again to your code and then it

[2017-05-11 18:11] madCoder24 commented on #11
You, sir, are a genius! I never noticed that issue. It now logs to the file beautifully. I am on the fence about making that flag true by default. I always lean toward having booleans default to "false" especially when dealing with settings. If the user wants it to be true then they can set it to true. My case it just a one off case and I would make any changes to the code.

Well in normal Webpack

[2017-05-11 20:38] mreuvers opened #12 "Change reset flag to true by default for CategoryServiceFactory.setDefaultConfiguration"
Origination from issue #11 where the "false" turned out to be more confusing than needed.

Instead always reset already created categories/loggers by default when changing the configuration.

[2017-05-11 20:41] mreuvers commented on #11
You're welcome! Glad it works now. :)
Thanks for the quick explanation btw.

I will change this flag to true by default for the 0.4 release, it will just be less confusing. I have created issue #12 for this. If you're fine with it, you can close this bug.

If you do have some time some day in the future feel free to poke me, and see if there's stuff to be done by then. :)

[2017-05-11 20:44] madCoder24 commented on #11
Yes, I am closing this issue as it is fixed. Thanks again!

[2017-05-11 20:44] #11 closed

[2017-05-18 16:12] madCoder24 opened #13 "Multiple custom logger category example"
I don't have an issue with anything just mainly looking for advice or thoughts on this implementation using this library. What would it look like if I wanted multiple categories that had two different custom logging implementations? Would it be better to determine the category that is being logged in one custom class and forward the message to the appropriate file?

My use case is that I want one

[2017-05-18 20:08] mreuvers commented on #13
Hello @madCoder24

Questions are always welcome. :)

You can specify one custom logger callback (to create custom loggers), so if you want to log in two different distinct ways, I suggest to return two distinct custom loggers.

Create two root categories (and child categories for them if needed).
Then set the default configuration with LoggerType.Custom, and specify a lambda function for creating

[2017-05-18 20:39] madCoder24 commented on #13
It sort of does... my attempt is below. I feel like I need to call `setDefaultConfiguration()` but that would override the secondary logger, correct?

[code]

[2017-05-18 21:14] mreuvers commented on #13
@madCoder24

I think your code should work, you can set the configuration for each category that way.
A different way could be roughly like this  (writing this from head, so apologies if it won't compile):
[code]

This sets one custom logger for all categories, based on the root you return the appropriate logger.

[2017-05-19 02:14] madCoder24 commented on #13
Excellent! Your implementation proved successful. Thanks again for your assistance. You can go ahead and close this.

[2017-05-19 09:40] mreuvers commented on #13
You're welcome! Closing the issue now then.

[2017-05-19 09:40] #13 closed

[2017-05-23 13:48] CSchulz opened #14 "Logger methods should allow additional informations"
The passed in information can be used to created some own message strings or for using it to send it to a server or similar overwriting the doLog method.

[code]

[2017-05-24 08:59] mreuvers commented on #14
Hello @CSchulz

Thank you for your suggestion. I will consider something like this, I will plan it in for after the 0.4 release.

[2017-05-25 18:09] CSchulz commented on #14
If you have some ideas how to implement it correctly, I will create a PR.

[2017-05-25 18:27] mreuvers commented on #14
Hello before spending time, it may be better to roughly explain first what you like to do. Without this, I cannot say whether it fits the library and has a chance to be accepted.

[2017-05-25 18:28] mreuvers commented on #14
Oh seems our comments crossed I was responding on your previous edit.

[2017-05-25 18:29] mreuvers commented on #14
I don't have time right now but will get back to this tomorrow. If you have an idea feel free to write it down already.

[2017-05-26 09:38] mreuvers commented on #14
Hey @CSchulz

I have given it some thoughts, for now I see two possible ways of doing it. Since I'd prefer not to break the existing api.

In this example I use the CategoryLogger, but in the end, if added it needs to apply to both category style and log4j like style loggers.

We could extend the existing CategoryLogger like this for example:
[code]

Another way is to add a new interface say Categ

[2017-05-29 07:55] CSchulz commented on #14
In general I prefer the first solution as well, because it allows the simple usage with just a string message. I think there are a lot of cases, where no further data is required and always creating an object would be too much.

[2017-06-03 12:43] mreuvers commented on #14
Sorry for the delay.

So the first solution it is then. It will have to apply to both style of loggers (category and log4j like ones).
Do you still want to do this?

[2017-06-03 18:08] CSchulz commented on #14
Would be no problem for me.

[2017-06-04 07:24] mreuvers commented on #14
Ok, thanks! In that case go ahead. :)

If you have any questions or run into other things while you work at this, don't hesitate to ask. Don't forget to add a few additional tests for this.

If you want to know if all is fine once you're done, use "npm run release" which will build and run everything.

Good luck!

[2017-06-05 14:31] CSchulz commented on #14
Who should call the ds method?

I have noticed a difference between log message implementations regarding the way of accessing the attributes. getter/setter vs. methods.

[2017-06-05 18:25] mreuvers commented on #14
The ds should be called by the ConsoleLoggerImpl/MessageBufferImpls (one for each log4j/category style). I think appending it behind the normal formatted message should be ok.
If ds is undefined, use standard JSON.stringify(..) instead. This way the data is always appended by non custom loggers at least.

Yeah attributes vs methods on the LogMessage/CategoryMessage right?
I changed that over time

[2017-06-05 18:32] CSchulz commented on #14
I think it makes more sense when the MessageUtils would add them because both are calling `MessageFormatUtils.renderDefaultLog4jMessage(msg, true)` via AbstractLogger.

I have no real preference either but I think make them consistent and remove the setter would be good.

[2017-06-05 20:15] mreuvers commented on #14
Agreed MessageFormatUtis would be a good place to put it.

For now just leave the messages getters/setteds as they are. I will deal with them separately soon.

[2017-06-06 09:54] mreuvers commented on #14
Thanks for the pull request. Could you please add some tests using the LogData to proof it works and remains working? With and without the 'ds' function present e.g.
They can be added to the existing spec files.

[2017-06-06 10:31] CSchulz commented on #14
I will update it soon. It was my first draft to see if you are okay with the direction.

[2017-06-06 19:35] mreuvers commented on #14
All right, but yes on first glance over the changes it's going in the right direction I think.

[2017-06-06 19:49] CSchulz commented on #14
Updated PR.

[2017-06-07 09:59] mreuvers commented on #14
Thank you. It's complete now? Then I will try make a release upcoming weekend.

[2017-06-07 10:50] CSchulz commented on #14
Should be completed.

[2017-06-11 14:56] mreuvers commented on #14
I've merged your pull request (with some small changes based on code review), thanks for doing this @CSchulz !

I reopened this issue as I may want to add some doc update later on.

I will release soon, but not until it's ready. There's a few things I want to do/add to this release (unrelated to this issue).

Thanks again.

[2017-06-11 14:57] mreuvers commented on #14
Reopen as said.

[2017-06-13 16:49] mreuvers commented on #14
Resolved and released.

[2017-06-13 16:49] #14 closed

[2017-06-13 16:50] mreuvers commented on #12
Resolved, and released.

[2017-06-13 16:50] #12 closed

[2017-06-13 16:50] mreuvers commented on #9
Resolved, and released.

[2017-06-13 16:50] #9 closed

[2017-08-01 11:31] Titerote opened #16 "PouchError exceptions yield ErrorStackParse"
While using the library to log errors (type PouchError) derived from using the pouchdb library on the browser, I get an exception:

ERROR Error: Uncaught (in promise): Error: Cannot parse given Error object
Error: Cannot parse given Error object
    at Object.ErrorStackParser$$parse [as parse] (error-stack-parser.js:74)
    at Object.<anonymous> (stacktrace.js:106)
    at new t (polyfills.js:3)

[2017-08-01 13:58] mreuvers commented on #16
Hello @Titerote

Do you have a simple test case so it can be reproduced, though I suspect its stacktracejs however that doesn't like the pouchdb error.

What versions do you run this with?
* browser and version (do different browsers cause the same error?)
* pouchdb version
* typescript-logging version

Thanks!

[2017-08-23 21:24] austinthemassive opened #18 "Installation Error - possibly not compatible with recent versions of npm?"
`npm install --save typescript-logging` results in an error titled

I dug into the associated log file, but it doesn't have much of interest other than the node and npm version numbers.

[2017-08-24 16:36] mreuvers commented on #18
Hello @austinthemassive

It is likely related to this bug in npm: npm/npm#17858

Could you try install an older npm version for example using: npm install -g npm@5.2.0 (it seems it's not resolved in 5.3.0 and 5.4.0 either), and let me know if this works?

Thank you!

[2017-08-24 21:34] austinthemassive commented on #18
That seems to have been the issue. Seems to be working just fine!

[2017-08-24 21:34] #18 closed

[2017-09-15 19:19] emilianosantucci opened #19 "log.debug text not displayed in node 8 console"
Hi @mreuvers,
I'm trying to write messages with log level **debug** but I can't see it on CLI.

Configuration:
[code]
Expected:
[code]
Actual:
[code]

Version: **0.4.0**

Is it a bug or I'm doing something wrong?

[2017-09-16 07:13] mreuvers commented on #19
Hello @emilianosantucci

Yeah normally that should work. Where are you doing this? If you use the chrome console it may be that filtering is not set to verbose? That is actually something I am considering to change, to always log to the standard log level instead - to prevent the confusion.

If you use chrome you can also use: https://github.com/mreuvers/typescript-logging-extension or for any bro

[2017-09-17 13:47] emilianosantucci commented on #19
HI @mreuvers,
thank you for your reply.

I'm using it on a backend project written in NodeJS + TypeScript.
I've tried several approachs but the level reached by log never scale down to WARN.

Only for troubleshooting purpose, I've try to print out the runtime settings with this command:
[code]
Obtain this:
[code]
As show above, the default log level seems to be the right one (1 = Debug) but I noti

[2017-09-18 11:56] mreuvers commented on #19
Hello @emilianosantucci

On first sight it looks ok. As workaround can you try setting the default category settings - after creating the category and logger?

If that does not help can you try the console control I mentioned in the previous comment that should work for node too, and print the settings. It could very well be you ran into a bug.

[2017-09-29 09:02] mreuvers commented on #19
Hello @emilianosantucci

Sorry for the delay but I was on holiday previously hence I couldn't properly look at it.

I have not been able to reproduce this myself so far, could you perhaps make a minimum testcase (maybe dump it in a repository so I can just clone and see)?

Thanks!

[2017-09-30 01:50] iceslove opened #20 "Logging to File"
How to configure the log logger for a file

[2017-10-01 09:53] mreuvers commented on #20
Hello @iceslove

You can use a custom logger (see the documentation), which will write to a file. How to write to a file, please check out the nodejs documentation.

[2017-10-19 09:46] ezequiel-umu commented on #19
@mreuvers I happens to me when using Node version 8, but it works when using Node version 7.
If you still can not reproduce I can add more information.

[2017-10-20 09:50] mreuvers commented on #19
Hello @ezequiel-umu

Thank you for the heads up. I am normally running and testing against an LTS version of Node. I tested it on 8 now, and indeed it does not log. It seems node 8 has changed some things around it's console.

console.debug now exists, but does not print anything (the behavior you see), at older versions it does not exist and falls back to console.log instead (hence you see the lo

[2017-10-20 10:39] mreuvers opened #21 "CategoryServiceFactory.setConfigurationCategory if category is a child must not attempt to reset root logger"
CategoryServiceFactory.setConfigurationCategory() if a category is a child category it tried to reset the root logger it belonged too, it should not do this as it breaks the settings.

[2017-10-20 11:13] mreuvers commented on #19
Hello @ezequiel-umu  0.4.1 has been released, if you still encounter issues please let me know.

[2017-10-20 11:13] #19 closed

[2017-10-20 11:13] #21 closed

[2017-10-21 12:50] messerbill opened #22 "Error: Cannot find module 'typescript-logging' on Root Server (Debian 8.5)"
Hi,
locally my typescript-logging works without any problems. But on my  Root Server the following message appears on Server Startup:

`Error: Cannot find module 'typescript-logging'
    at Function.Module._resolveFilename (module.js:527:15)
    at Function.Module._load (module.js:476:23)
    at Module.require (module.js:568:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (

[2017-10-21 15:47] mreuvers commented on #22
Hello @messerbill

I am not sure what you mean with "root server" here (aside it being a debian distribution). What typescript-logging version do you use? npm/node versions (local/server)?

What do you start exactly on the server (what/how)? Is everything bundled by e.g. webpack? Is the bundling different. is the setup different (local vs server)?

That aside, typescript-logging should be part of

[2017-10-22 12:50] messerbill commented on #22
hi @mreuvers ,
thanks for your reply. "Root Server" is my webserver / live server in the internet.

I am using node version `v8.6.0` and NPM version `5.4.2`. Typescript-logging is part of my normal dependencies in my package.json: `"typescript-logging": "^0.4.0"`

And my Implementation:

[code]

[2017-10-23 14:35] eluft84 commented on #22
I have the same issue running on node v6.9.0 and npm 3.10.8

[2017-10-23 16:11] mreuvers commented on #22
Hello @eluft84 and @messerbill

The released distribution is broken, I reproduced it now
(not sure how this even happened, maybe an oops on my side).

Could you please go back to 0.4.0 explicitly for now? Make sure to remove the ^ in your package.json and lock it to 0.4.0 as workaround.
Also please make sure to drop the existing typescript-logging e.g. from node_modules first, then reinstall 0.4.0

[2017-10-23 16:57] mreuvers commented on #22
Hello @eluft84  and @messerbill

I just published 0.4.2 to npm, which is a valid distribution again. Tested it against node and it works properly again.

I leave this bug open for a few more days for you to test, could you please confirm 0.4.2 works for you as well? Thank you.

[2017-10-23 17:52] messerbill commented on #22
this works! Thank you for the fast update <3

[2017-10-23 20:37] mreuvers commented on #22
Glad to hear it did :)

[2017-10-23 21:03] eluft84 commented on #22
I can only agree - it works! Thanks a lot for the fast update.

[2017-10-24 14:58] mreuvers commented on #22
Good to hear it works for both of you! :) Closing this bug now. Have fun coding!

[2017-10-24 14:58] #22 closed

[2017-10-27 12:23] emilianosantucci commented on #19
Hi @mreuvers,
sorry for my late on response but I beeb busy on other projects.

Thanks for new release, I try that asap.

[2017-10-27 15:49] darilin opened #23 "Failed at the typescript-logging@0.1.3 postinstall script 'typings install'."
Failed when I run npm install. I tried npm cache clean, deleted folder node_moduls... nothing works for now

npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v6.9.2
npm ERR! npm  v3.10.9
npm ERR! code ELIFECYCLE

npm ERR! typescript-logging@0.1.3 postinstall: `typings install`

[2017-10-27 16:09] mreuvers commented on #23
Hello @darilin

You are installing a very old typescript-logging version, that version used to install typings in it's 'post-install' step and this will now cause issues depending on typescript version etc.

That step is not necessary anymore with later typescript-logging versions. Please upgrade to the latest and greatest version available (currently 0.4.2).

[2017-11-20 07:20] Kamshak opened #24 "Getting a child logger"
I'm having a bit of trouble getting a child logger. I don't want to specify the category on every log call, i'm not sure why CategoryServiceFactory.getLogger always needs a root logger? Not sure why I can't do something like this:
[code]

[2017-11-20 16:52] mreuvers commented on #24
Hello @Kamshak

Originally when this was designed we decided we wanted to explicitly log over multiple categories, instead of one in our apps (it was more like a horizontal slice over an application when logging, than a vertical one like most loggers - allowing you to enable logging sub-parts of an application based on category). That's where the root logger and it's restrictions originate from.

[2017-11-20 16:58] Kamshak commented on #24
Could you give an example of what a horizontal slice would look like? I've done this for now but it feels like a lot of code:

[code]

BTW do you come from a Java Background? The style reminds me very much of it (and is a bit confusing to me tbh).

[2017-11-20 17:46] mreuvers commented on #24
It depends on your application really if it makes sense or not.

In complex applications you may have e.g. some kind of let's just call it "service" here, service has a back-end (doesn't really matter what in this example) and a front-end part for the user. To make it all work it does a lot of things over many classes e.a (to stick to typescript terminology here). So you'd have a category for "ser

[2017-11-24 11:33] mreuvers opened #25 "Simplify Logger and CategoryLogger"
Currently we have separate lambda methods on both Logger and CategoryLogger (e.g. debugc), these are ancient artifacts. Deprecate all these methods and move the lambdas over to the normal methods (by keeping the normal methods backwards compatible).

This means users can use the 0.5.x release to change to using normal methods, in the next release these deprecated methods *will* be removed.

Update

[2017-11-24 11:34] mreuvers opened #26 "Remove deprecated methods Logger and CategoryLogger"
In 0.5.0 both Logger and CategoryLogger contain deprecated methods, remove these in 0.6.0.

[2017-11-24 11:35] mreuvers commented on #23
Closing issue, assuming you resolved it.

[2017-11-24 11:35] #23 closed

[2017-11-24 11:36] mreuvers commented on #20
Assuming you resolved your problem.

[2017-11-24 11:36] #20 closed

[2017-11-30 12:52] Lexanius opened #27 "[Question|Feature] Different Options for testing."
Hi,

this is a very nice tool. I like it.
After using i have a question, is it possible to define different LoggerFactoryOptions for testing?
E.g. for testing Trace and normal Debug?

Richard

[2017-11-30 16:36] mreuvers commented on #27
Hello @Lexanius

Thank you! :)

I am not sure if I understand your question correctly, but I think you mean you want to run the same code when testing, in trace and otherwise in say debug?

I don't know what kind of environment you're using but let's assume you run tests with node here.

You could for example pass in an environment variable when running the tests, e.g:

In your package.json, in th

[2017-11-30 16:55] Lexanius commented on #27
Yeah cool. i will test it.

Thank you.

[2017-12-06 16:27] mreuvers commented on #27
Hey hey, did you manage to do it?

[2017-12-06 17:06] mreuvers commented on #24
Hello @Kamshak

See issue #25 for the actual changes which are also partially related to this issue. I just published 0.5.0 to npm as well containing these changes.

In short for this issue, you can now log using a category directly (this is new).
[code]
You can also get a logger for any category now. Whether you use  the logger or category to log is up to you, for the library it is the same.

Goo

[2017-12-07 09:22] Kamshak commented on #24
Great changes, that simplifies the API a lot! Thansk :heart:

[2017-12-07 09:22] #24 closed

[2017-12-12 15:58] Lexanius commented on #27
Yeah i managed to do it, but not with cross-env. Because i use angular, so the environment is easy to use: `    "test": "ng test --env test",`

[code]

[2017-12-12 15:58] #27 closed

[2017-12-22 15:40] courteous opened #28 "Default instalation error"
I just tried the logger and when using the log4j stile mentioned in the documentation i am getting the following error:

ERROR in ./ConfigLog4j.ts
[tsl] ERROR in /home/tito/test/test/ConfigLog4j.ts(1,9)
      TS2305: Module '"/home/tito/test/test/node_modules/typescript-logging/dist/commonjs/typescript-logging"' has no exported member 'LoggerFactory'.
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm

[2017-12-23 09:16] mreuvers commented on #28
Hello,

I am not sure what you're doing - but LoggerFactory is exported (just checked a clean installation of 0.5.0).

Both log4j and category style work and log fine in a quick test, so it may be some configuration issue on your side? Perhaps toss out node_modules, and install clean and see what happens then.

If that does not work, please minimize it to a small test case with exact steps on how

[2018-01-03 10:33] courteous commented on #28
it is strange i do see the logger working if i compile and it seems that all is working as expected but the typescript is still complaining about the same error  i.e. ERROR in ./ConfigLog4j.ts TS2305  "typescript-logging"' has no exported member 'LoggerFactory'". I will try to replicate once again on a simple project the coming week.

[2018-01-04 20:28] mreuvers commented on #28
Odd indeed. Maybe it's some combination of versions that bite each other somehow, well if you get it reproduced let me know.

[2018-01-08 18:35] IsNull opened #29 "Library support - static default logger factory"
I would be interested to use this logger in several libraries and have the ability to configure it globally (i.e. in the consuming app).

For this, a global exported logger-factory is not going to work. I wonder if instead a global static default logger factory or factory manager would make sense. This way, the logs of all libraries and the main app can be configured from the main app.

Something

[2018-01-09 17:18] mreuvers commented on #29
Hello @IsNull

Could you elaborate a bit more?

For what I understand you'd like something centrally to be available for the log4j style of logging, that you can reconfigure/change from a main app. The libraries you talk about are used by this consuming app (so they are dependencies in package.json themselves)?

[2018-01-09 17:37] IsNull commented on #29
Hi there,

The idea is basically to have a common logging 'experience', no matter if the main app is logging or a library. This obviously requires that all libraries and the main app use the same logging interface, and more specifically, the same logger-factory with the same options. This is what log4j basically gives you in the Java world, simply because it is used by most libraries / projects an

[2018-01-09 21:25] mreuvers commented on #29
Yup thanks this is clear. :)

It makes sense, for the log4j variant to at least have one generally available so if you want, that you can use it. If you don't want to, you don't have to after all. I will consider to make this an enhancement.

For the category variant of logging you already can do what you want I think without any changes
Since you can just specify a Category (or more) in your libr

[2018-01-10 08:09] IsNull commented on #29
Thanks for the hint to the category style logging. It could partially work, but we had to ensure there is never a duplicate category registered.

If I understand correctly the usage would be:

**library-a-config.ts**
[code]

**library-b-config.ts**
[code]

**main-app-config.ts**
[code]
This way it could work.

[2018-01-10 08:46] IsNull commented on #29
Have a look at this PR #30. I have used the existing LoggerFactory and added the global static default factory methods.

[2018-01-10 16:40] mreuvers commented on #29
Yeah the category code you sketched above should work. If you got control over the libraries that should be fine otherwise it may lead to issues.

Thanks for the PR, I'll have a look at it later (short on time atm and I don't want to rush this). In any case I will create an enhancement bug later for this so it will be dealt with in the next 0.6.0 release.

[2018-01-22 16:39] mreuvers opened #31 "Make default log4j LoggerFactory instance globally available"
Make a default log4j LoggerFactory instance available.
* This allows any library to use this as a default
* Allows an end user to configure the logging globally for it's own project, as well as any libraries that use the default in one go.

The available instance must be configurable.

This was based on discussion in issue #29.

[2018-01-22 16:42] mreuvers commented on #29
FYI: Created issue #31 to track this, will leave this issue open until that one is resolved.

[2018-01-22 21:46] courteous commented on #28
Indeed, i saw that export statement as well i.e. i do have it as well,  i..e below is the whole file, however i do not understand myself why npm run build was complaining about that. Only when i specified the full path it stopped showing that error. That is the reason i opened the ticket. Unfortunately i was not able to get to the bottom of it.

[code]

[2018-01-23 18:14] mreuvers commented on #28
Hello, it looks fine by itself.

Maybe you can reduce the issue to a minimum to show the problem? So that I can run the build myself and see if it fails too.  My feeling is it's related to your build setup (e.g. webpack or whatever else you are using). As right now there is not much I can do.

[2018-04-13 09:38] mreuvers commented on #31
Completed.

[2018-04-13 09:38] #31 closed

[2018-04-13 09:41] mreuvers commented on #29
See issue #31, a default loggerfactory has been made available  at last(see the docs in log4j for details). Version 0.6.0 was released containing this.

I will close this issue in a couple of days from now, in case you have some remarks.

[2018-04-13 09:41] mreuvers commented on #26
Completed.

[2018-04-13 09:41] #26 closed

[2018-05-04 09:07] skocks opened #34 "Export LogData"
To be able to implement a custom logger, without inheriting from AbstractCategoryLogger or AbstractLogger, LogData has to be exported from the library.

[2018-05-06 18:54] mreuvers commented on #34
Thank you for the issue report and thanks for the pull request. I will merge and release a patch version Monday/Tuesday.

[2018-05-08 15:13] mreuvers commented on #29
Closing issue, it was resolved.

[2018-05-08 15:13] #29 closed

[2018-05-08 15:51] mreuvers commented on #34
Merged your pull request into master (commit e7096b7), and released 0.6.1 on npm.

[2018-05-09 10:01] borbelyzs opened #36 "angular-cli@6.0.0 + webpack: runtime error after prod build"
We have upgraded our angular environment from version 5 to version 6, and now our angular-cli+webpack-based build system generates a "prod" build that fails at runtime in the typescript-logging module.

Error: Uncaught TypeError: Cannot read property 'Console' of undefined

It seems that the LoggerType enum is empty (or missing it's declaration). I have created a small environment to reproduce the

[2018-05-09 12:40] #34 closed

[2018-05-09 16:37] mreuvers commented on #36
Hey @dolf-o-matric

Maybe I am doing something wrong, but it doesn't show any error in the console. Instead the page gives:

Import error, can't find files:
index.html
main.ts

I also tried it directly using: https://angular-zhriph.stackblitz.io/

But that gave the same error, seems angular is not happy?

[2018-05-10 06:15] dolf-o-matric commented on #36
Thank you for the quick reply! You are absolutely right; i should have clarified that: I used stackblitz only to host the files, not to run the project directly (or build it, if that's even possible on stackblitz).

So you should download them locally ("angular.json", "package.json", "tsconfig.json", and the whole "src" directory), run locally "npm install", and then start a build process with "np

[2018-05-10 09:14] mreuvers commented on #36
Hey there, no problem. :)

I managed to reproduce it now as well, however after some digging around it seems it's angular's build doing something weird. Because the types it falls over are exported (I double checked).

Running it using: "npm run start" on the local ng dev. server works fine too (it logs).

See this json part from the angular configuration, changing "buildOptimizer" to false makes

[2018-05-10 09:37] dolf-o-matric commented on #36
Okay, thanks for your update! It's still an early adoption (angular-cli -wise), maybe in 6.0.1 or so will be fixed.

[2018-05-10 18:44] mreuvers commented on #36
Yeah at least you have a workaround for now. You may want to log an issue there - so they can determine what is failing exactly, it may only happen in some cases.

[2018-05-11 08:57] dolf-o-matric commented on #36
With the latest angular-cli (6.0.1, published today) there is now runtime error, but the log in completely empty (buildOptimizer = true).

[2018-05-12 08:16] mreuvers commented on #36
Well it's something else. Guess you need to wait and see until it's fixed. :)

[2018-05-16 16:28] eastjie commented on #36
I have "Error: Uncaught TypeError: Cannot read property 'Console' of undefined" in Angular 6 at first with typescript-logging version 0.5.0 , after I have updated typescript-logging to 0.6.1 and  made the refactoring. It seems to be fixed.

But I got the new error with "angular 6.0.2"
 "If you specify loggerType to be Custom, you must provide the callBackLogger argument".

I had to set "buildOptim

[2018-05-17 08:00] eastjie commented on #36
@mreuvers , Thanks for your answer. I have tried in a new Angular Cli project. The error can be reproduced.

In configuration "logconfig.ts", logging is defined as follows:
[code]

And in "app.component.ts"
[code]

[2018-05-17 19:05] mreuvers commented on #36
Thanks, I can reproduce it in a production type of build with that as well. It seems the optimizer is doing something wrong, it seems to not fully understand some default parameter value assignment or so and makes some funny code from it (it's near unreadable of course).

In development or without optimizer it all works fine (as expected, the javascript code then also looks like what it should be)

[2018-05-18 09:01] dolf-o-matric commented on #36
Our project uses HTTP client for REST API communication, supports OAUTH2 protocol, uses semi-recursive custom JSON parsing, uses heavely external gui libs like ng-bootstrap, ag-grid, ng-select, ng-fullcalendar, etc. None of these libs are causing problems (well, except for angular 6.0.1 and ag-grid, there was some stack size issues, but it's now fixed with angular 6.0.2, 6.0.3).

We have problems

[2018-05-18 09:10] eastjie commented on #36
In our project, other libs like ng-bootstrap, kendo-angular are used without problem for optimization. I have found some issues about product optimization.  I thinks, it may need some time to wait for the next angular fix patch to check if this problem will be solved or not.

[2018-05-18 10:28] mreuvers commented on #36
Thanks for the reply both of you!

Ok let's wait 1 or 2 minor fix patches of angular and see if it resolves itself. I'll have a look meanwhile as soon as I have some time left, to rewrite a little and see if that helps.

[2018-05-18 10:47] dolf-o-matric commented on #36
Thanks for your work!

[2018-05-22 08:11] WaeCo opened #37 "Unhandled Promise rejection for non error object"
Passing a non error like object to a logger function will throw an unhanded promise rejection.

Example:
[code]

This happens to me sometimes when other libraries throw non error like objects and I have a generic catch block.

It can be mitigated by adding a catch  handler in
https://github.com/mreuvers/typescript-logging/blob/13afee10c5509ce0ab8f8bf0754002681307e899/src/logging/utils/MessageUtils

[2018-05-23 05:38] mreuvers commented on #37
That makes sense I agree. I will fix it and release a patch version later this week.

[2018-05-23 19:53] mreuvers commented on #36
Hey guys,

Some update/progress. If you have anything to add/update please let me know as well.

I played around a bit, and have found something at last.

The problem is that for some reason most exported enums, are not generated properly in the compressed production js, they just missed their values basically. But 1 enum was generated properly with its values (and really the enums are not weird o

[2018-05-24 17:50] mreuvers commented on #36
We should keep an eye on https://github.com/angular/angular-cli/issues/10655 which seems to be a regression.

Similar problems, including enums are described therẹ.

The workaround for now is indeed to put the flag: "buildOptimizer" to false.

[2018-05-25 07:49] dolf-o-matric commented on #36
Yep, it seems the same problem to me, hope they will be fixing it soon

[2018-05-26 08:53] mreuvers commented on #37
This should be fixed now, published it to npm as well, as 0.6.2 release. Feel free to test it. I will close the issue in a few days from now, assuming it is fine by then.

[2018-05-26 08:54] mreuvers commented on #16
Closing this, it is likely fixed by issue #37 .

[2018-05-26 08:54] #16 closed

[2018-06-11 14:53] mreuvers commented on #36
Cheers for the update! Works for you too @borbelyzs ?

[2018-06-12 08:36] borbelyzs commented on #36
Yes, it's working now, i just made a test-build; everything's fine! Thanks, @mreuvers, @eastjie!

[2018-06-12 08:36] #36 closed

[2018-06-22 09:17] #37 closed

[2018-07-26 17:36] serialoverflow opened #38 "Logging circular JSON objects"
Hey,

when logging nested objects, stringify sometimes complains:
[code]

I image the only way to prevent this error but still log objects would be use a safe version of stringify that strips the circular references.
Is that something you would consider adding?

Also, while i am here, is there a better way to reference/print objects inline?
I can do
[code]
but then i have to stringify myself.

On

[2018-07-27 19:37] mreuvers commented on #38
Hello @serialoverflow

Thank you for logging this. They are nice suggestions.

I like the idea of actually dealing with circular references, so that sounds like a reasonable enhancement to me.

Pretty print may be an option to add (as in to enable if wanted), I am not sure what you want to print "pretty" exactly here though? A json object or something else? I guess I need some simple example here.

[2018-08-31 16:31] krysalead opened #39 "[Help] How to add additional information"
Hi,

I would like to inject dynamically a request ID into each log and not have to do that in every call to the logger but in a central place. I am using the Log4J style with
[code]
But I don't know, how to override the logger or change the message to add the information.

Thanks & regards

Olivier

[2018-08-31 18:27] mreuvers commented on #39
Hello @krysalead ,

I am not entirely sure what you want to do, but I assume you mean to add some additional unique id to a log message?

You may want to check out:
https://github.com/mreuvers/typescript-logging/blob/master/docs/latest_log4j.md#formatting-message
and
https://github.com/mreuvers/typescript-logging/blob/master/docs/latest_log4j.md#custom-logger

The first allows you to change the me

[2018-09-03 10:04] krysalead commented on #39
Hi,

Thanks it is more or less what I would need. Actually I have request id I want to see in all my logs to trace a transaction on my server. The issue with the proposed solution is that I need to add the full format of the log (level, date ...). I am using in a JS project Bunyan which allow to add extra data like the request id. Could be nice in a future release ;).

Thanks a lot for your librar

[2018-09-07 06:57] mreuvers commented on #39
Hello @krysalead

Sorry for the delay, but thank you for the suggestion.

Just to be clear, you have some unique id you want to log during a transaction. Currently a message is logged by default something like:

`2016-01-07 11:14:26,273 INFO [name] Some log text`

Where should the id be for each message, my feeling would be directly after [name] from the example above?

[2018-09-21 10:13] jsamr opened #40 "CategoryServiceFactory.setConfigurationCategory options are not properly applied"
I am trying to apply a config with custom logger to a specific category :

[code]
But it doesn't work. Should log to a file but doesn't. However,
[code]
does make it log to a file.

[2018-09-21 10:41] mreuvers commented on #40
Hello @jsamr

The latter does reset all existing categories and their existing loggers to use the new configuration by default.

The first call should do it for that specific category only, but not its child categories.
I am not sure if that's the problem here, but if so try:

`CategoryServiceFactory.setConfigurationCategory(integrityConf, intLog, true)`

[2018-09-23 07:58] jsamr commented on #40
So to sum it up, the specific configuration `integrityConf` does not apply to Category `intLog`. `CategoryServiceFactory.setConfigurationCategory` does not seems to honour its contract.

[2018-09-24 09:59] jsamr commented on #40
@mreuvers Great! Looking forwards. Thanks for your reactivity.

[2018-09-28 11:39] mreuvers commented on #40
Hello @jsamr

I've published 0.6.3 in npm, it should have resolved this issue - could you please let me know if it does?

[2018-09-28 13:43] jsamr commented on #40
@mreuvers Thanks a lot. I can confirm the patch fixed this issue for me!
Wish you all the best.

[2018-09-28 13:43] #40 closed

[2019-06-17 12:41] shwetaaher commented on #20
Hi, Can you please provide the documentation link?

[2019-09-28 15:19] grizzly-monkey opened #41 "having console color control"
It would be nice to have control over colors
for eg. info as green
debug are blue
trace as purple etc.

https://stackoverflow.com/questions/7505623/colors-in-javascript-console

[2019-09-29 09:12] mreuvers commented on #41
Hi there,

I am not opposed to it, but neither I see it as a real benefit (it's more like a nice to have). If something like this would be added, it should not break existing other consoles e.g. node's console/edge e.a. Which requires quite a lot of testing with so many different browsers these days.

However you could easily add it to a custom logger or custom message formatter function yourself

[2019-10-10 20:20] samirm opened #42 "How is log rotation handled?"
This library claims to be a "log4j like" logger, but I'm not seeing any options for logfile configurations, especially for rotations.

Is this actually supported?

Thanks.

[2019-10-11 05:44] mreuvers commented on #42
Hi there,

No that is currently not supported. Originally this was developed for browser only, and then later on also enabled for node. It sounds like you'd like to see something like that to work for node right?

I personally don't see much benefit in supporting an enormous amount of log options, but log rotation is useful. What do you think?

[2019-10-11 09:25] maudnals opened #43 "React-native app crashes: "window.removeEventListener" is not a function"
We have a react native app, created with `react-native init`.
Importing typescript-logging makes the app crash.
**This issue didn't come up in a project using react-native 0.59.**

* react-native version: 0.61.2.
* typescript-logging version: 0.6.3

Steps to reproduce:

* Create a new react native project with `react-native init` (see https://facebook.github.io/react-native/docs/getting-started >

[2019-10-11 15:21] mreuvers commented on #43
Hello @maudnals ,

Thank you for reporting the issue. My guess is that you used to have something in your project that poly-filled various methods (such as the one now failing on the window object). Maybe due to the upgrade of react-native, or something else you upgraded/dropped in your project?

In any case where it currently fails is not even relevant for a native app (it's related to the extens

[2019-10-11 16:33] maudnals commented on #43
Hello @mreuvers,

Thank you for your swift reply.
Happy to test the fix later on!

I've set up an example app where the issue happens, so you can see my exact setup if that helps: https://github.com/maudnals/react-native-logger-test/tree/master

This example app has been created following the steps mentioned above (https://github.com/mreuvers/typescript-logging/issues/43#issue-505740796): simply c

[2019-10-12 06:37] mreuvers commented on #42
Fair enough. I think this would be a nice enhancement.

I have to give it some thought where/when to do this though.
Still gotta make one patch release shortly (another issue logged yesterday), but yours is going to be quite some work though.

I hope you're not in a rush at least? As I unfortunately have other work to do as well.

[2019-10-12 06:46] mreuvers commented on #43
Probably not then, unless they shipped a poly-fill previously in an older version?
In any case, let's try fix it. :)

I will let you know when a branch with hopefully the fix is available for you to test (it may be a few days). Thank you!

[2019-10-14 07:25] maudnals commented on #43
Sure, thanks!

[2019-10-14 14:51] mreuvers commented on #43
Hello @maudnals,

I have made the fix and hopefully it will work.

To test (yarn command should be similar I think?):

- clone this repository
- in the clone directory:
  - git checkout issue43
  - npm ci  (this one matters, it installs the dependencies from package-lock.json)
  - npm pack (this will create a 0.6.4 tgz file)
- in your test project directory:
  - npm uninstall typescript-logging --

[2019-10-14 18:21] samirm commented on #42
No rush at all, feel free to take as much time as you'd like. Not trying to discourage you, but I ended up switching to log4js as it already has this feature.

[2019-10-15 14:38] mreuvers commented on #42
That's no problem, still I will consider adding this later.

[2019-10-16 07:40] maudnals commented on #43
Hi @mreuvers ,

Looking great! I've followed all the above steps and the app is running smoothly.
Thanks a ton for this fast fix 🎉

I see the additional checks you've added on there. Out of curiosity, do you know where the problem originated from? Has React changed the way `window` polyfills are applied in the latest react-native?

[2019-10-22 12:08] maudnals commented on #43
Hi @mreuvers,
Great, I've tested it, `0.6.4` in `package.json` works. Thanks!
From my perspective this issue can be closed - I leave it up to you.
Cheers!

[2019-10-22 14:31] mreuvers commented on #43
Hey @maudnals,

Sounds like things are fine now, I will close this issue. Thanks again for reporting and testing it out!

[2019-10-22 14:31] #43 closed

[2019-12-11 01:58] evanplett opened #46 "Error when calling log functions that are a lower level than the configured log level"
I get an error whenever I have a log function that is lower than the configured log level.

When I create a logger like this:

[code]

And then use it like this:

[code]

I get the error below.

Note: if I change the level of the message by changing the function from trace to debug, the error goes away). Also, if I change LogLevel.Debug to LogLevel.Trace, the error goes away. in fact, this happens

[2019-12-11 07:37] mreuvers commented on #46
Hello Evan,

I cannot reproduce. Could you please provide a minimum setup using npm to reproduce this?

Thank you.

[2020-01-19 14:08] AmeerSalahinnova opened #48 "How I can download the logs file?"

[2020-01-20 16:13] mreuvers commented on #48
Hi there,

There is no log file to download by default (after all it is logged to the browser console), you can either:

- Get it from the console (if browsers support that)
- Write your custom logger, so you put it somewhere where you can get it.
- Use the chrome extension if you use "category style" logging.

[2020-03-15 00:42] evanplett commented on #46
This was a user error.

I had a line like:

logger.trace("The value of the object is %o", object);

When I changed this line to:

logger.trace("The value of the object is " + object);

the error went away.

[2020-03-15 00:42] #46 closed

[2020-06-25 00:25] fredfortier opened #52 "Shared Logger"
I have two TS applications with shared packages:
- A frontend bundled for the browser with react-scripts
- A nodejs backend

I'd like to move from console.log to log4j-style logging across both projects including the shared modules. Ideally, I would create a log package that determines the runtime context, and initialize the logger accordingly. Then, each module (node, frontend, or shared) would i

[2020-06-25 08:50] mreuvers commented on #52
Hi there,

I am not sure I fully understand your question here, but assuming your shared module is used by both the frontend and backend.

You could put some config/setup in the shared module, e.g. something like this:

LogConfig.ts (in shared module)
[code]
Make sure to export the logger function in your index.ts or so.

Elsewhere in your code you can just use the exported function getLogger("Som

[2020-06-25 18:29] fredfortier commented on #52
That's exactly what I was looking for. Thanks!

[2020-06-25 18:29] #52 closed, assigned to nobody

[2020-06-26 17:55] fredfortier opened #53 "Simple Pattern Layout"
log4js has a pattern layout feature: https://log4js-node.github.io/log4js-node/layouts.html I haven't seen an equivalency in the documentation. How is it done in here?

My requirement is very simple. I want to configure the logger print any object in terse format on a single line. Concretely, I want `log(myComplexObject)` to always behave like: `console.log(JSON.stringify(myComplexObject))` instea

[2020-06-29 14:58] mreuvers commented on #53
Hey there,

No there are no formatting layouts. There's no real need for that if you use typescript. If you want to write your json objects away in some format you can easily use the template string in typescript like.

[code]

As alternative you could format your own message. E.g write the message away like this and checkout https://github.com/mreuvers/typescript-logging/blob/master/docs/latest_l

[2020-06-29 18:42] fredfortier commented on #53
I was hoping to leave my messages as-is and just replace `console.log` by something else. Is there no way wrap a formatter around every `log.x` calls? Perhaps by overriding a particular function? Using `JSON.stringify` everywhere seems a bit too verbose.

In your opinion, what would be the most idiomatic approach?

1. Using a custom `formatterLogMessage` with the `log.debug({msg: "This writes json

[2020-06-29 19:04] mreuvers commented on #53
Well logging needs differ from project to project in my opinion, so there is no 1 good way.

In large projects we often end up wrapping the logging library (doesn't matter which one is backing it).

This allows us to add some custom things to it what such library doesn't offer itself (whatever that may be, as that depends on the project). E.g. the "getLogger" example from your previous issue would

[2020-06-29 21:07] #53 closed, assigned to nobody

[2020-07-08 12:43] dibog opened #54 "Angular10"
Hi,

I like the similiarity with slf4j/log4j. After upgrading to Angular10 I got those warnings with regards to the logging framework:

<code>
WARNING in D:\git\ZeroEngineering\skill-tree-ide\src\environments\log.config.ts depends on 'typescript-logging'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencie

[2020-07-13 11:08] mreuvers commented on #54
Hey there,

Apologies for the delay. This warning is indeed because it currently only ships as commonjs modules. In the future this will be changed.

If you're feeling lucky you could build the current master and link to it from your own project, then build your own project again. Do the warnings disappear in that case?

Do you have a simple quickstart which shows the warning? Then I can verify it

[2020-07-24 12:48] dibog commented on #54
Hi again,

sorry for being so late with a response. Unfortunatly I can't share our code. But here is a copy of the error message:

WARNING in \some\path\src\lib\log.config.ts depends on 'typescript-logging'. CommonJS or AMD dependencies c
an cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

[2020-07-29 21:23] sudeepd commented on #42
I can offer to add a file logger, if you point me to the code area where this needs to go, and general guidance. I find your library useful, tried it in the node project, i need the file logging capability, and I am willing to add it

[2020-07-30 14:28] mreuvers commented on #54
No problem and thank you. The current version is going to be finalized soon (becoming a 1.0.0).

After that a major rewrite will happen for the next major version. That should make this warning go away as well as it will be shipped with ems modules then.

[2020-07-30 14:33] mreuvers commented on #42
Thank you for the kind offer. But for now don't spend your time on this, as the current version is going to be released as a final 1.0.0 version soon.

However the next major version will be a large rewrite of the current, and node file logging (and rotation) is expected to be dealt with then as well.

For the current version if you need it, I'd recommend to implement your own custom logger (use o

[2020-08-21 09:30] mreuvers opened #58 "Initial skeleton/setup for 2.0"
Create initial setup/skeleton for 2.0.

[2020-09-06 01:34] drewstone opened #60 "Error: LoggerFactory with name <NAME> already exists."
For some reason we've made no changes to our logger and in a feature branch this is coming up. I'm not sure how to debug as we're only creating the factory in one location throughout the repo.

[2020-09-06 06:45] mreuvers commented on #60
Hey there,

That sounds odd. At the spot you are creating it, are you sure it is only ever called once as it sounds like it's called more than once. The most simple way to see this is to just log just before creation to the console to find out.

[2020-09-16 18:35] #58 closed, assigned to mreuvers

[2020-11-08 07:33] mreuvers opened #61 "Initial core"
Add initial core part.

[2020-12-11 20:01] Chris-Thompson-bnsf opened #63 "Parent category not shown in log message"
I am guessing that I've just configured something incorrectly, but based on examples and some cursory looks over the implementation code in the repo, I was expecting different output when I do the following:

[code]

Output in the browser's console:
2020-11-12 13:01:20 INFO [App] Root app rendered
react_devtools_backend.js:2430 2020-11-12 13:01:20 WARN [App] Root app rendered

The format I would h

[2020-12-12 07:31] mreuvers commented on #63
Hey there,

I can see why you would think this. But if you'd want to see more than the category name of the one you're logging with you'd have to log like:

[code]

Where the additional categories are added after the message. It's something we have not been completely happy with either over time.

If you want to log as in your example, then I suggest you to add a custom message formatter on your c

[2020-12-14 15:10] Chris-Thompson-bnsf commented on #63
I was able to get this working in the expected way, and I was able to leverage some of the existing logic that is in `MessageFormatUtils`, but there is a piece I seemed to have to rewrite that might be nice to have exposed as a helper function (if it isn't already and I just didn't find it).

[code]

Specifically, the `getLogDataString` part was written based on the existing behavior - as I didn't

[2020-12-14 15:10] #63 closed, assigned to nobody

[2021-02-17 15:27] #61 closed, assigned to mreuvers

[2021-02-17 15:33] mreuvers opened #65 "Add log4j like implementation"
Add log4j like implementation.

[2021-03-04 16:21] #65 closed, assigned to mreuvers

[2021-03-12 08:03] mreuvers opened #68 "Enable updatable runtime"

[2021-05-04 14:17] mreuvers commented on #68
Completed by PR https://github.com/vauxite-org/typescript-logging/pull/70

[2021-05-04 14:17] #68 closed, assigned to mreuvers

[2021-06-02 16:08] mreuvers opened #75 "Add log4ts control"
Allow dynamic control of log levels from console.

[2021-06-13 11:15] #75 closed, assigned to mreuvers

[2021-07-09 11:15] mreuvers opened #77 "Add optional node channel"

[2021-10-08 10:48] mreuvers commented on #77
Was solved by PR #79

[2021-10-08 10:48] #77 closed, assigned to mreuvers

[2021-10-08 10:49] mreuvers opened #80 "Add category style logging"
Add the category style of logging.

[2021-10-15 08:31] mreuvers commented on #80
Solved by PR #81

[2021-10-15 08:31] #80 closed, assigned to mreuvers

[2021-10-15 08:33] mreuvers opened #82 "Add control for category style logging"

[2021-10-22 07:47] mreuvers commented on #82
Solved by PR #83

[2021-10-22 07:47] #82 closed, assigned to mreuvers

[2021-10-22 09:41] mreuvers opened #84 "Revisit Logger interface"

[2021-10-29 10:28] mreuvers commented on #84
Resolved by PR #85

[2021-10-29 10:28] #84 closed, assigned to mreuvers

[2021-10-29 10:29] mreuvers opened #86 "Integration test"

[2021-11-03 15:52] mreuvers commented on #86
Solved by PR #87

[2021-11-03 15:52] #86 closed, assigned to mreuvers

[2021-11-03 15:53] mreuvers opened #88 "Revisit modules"

[2021-11-30 15:12] #88 closed, assigned to mreuvers

[2021-11-30 15:13] mreuvers opened #90 "Add documentation"

[2022-02-18 09:37] #90 closed, assigned to mreuvers

[2022-02-18 14:32] mreuvers commented on #60
Closing this issue as it's very old, typescript logging 2 (major new version) has been released. Consider upgrading.

[2022-02-18 14:32] #60 closed, assigned to nobody

[2022-02-18 14:33] mreuvers commented on #28
Closing this issue as it's very old, typescript logging 2 (major new version) has been released. Consider upgrading.

[2022-02-18 14:33] mreuvers commented on #39
Closing this issue as it's very old, typescript logging 2 (major new version) has been released. Consider upgrading.

[2022-02-18 14:33] #39 closed

[2022-02-18 14:34] mreuvers commented on #48
Closing this issue as it's very old, typescript logging 2 (major new version) has been released. Consider upgrading.

[2022-02-18 14:34] #48 closed

[2022-02-18 14:36] mreuvers commented on #54
Closing this issue as it's old, typescript logging 2 (major new version) has been released. Consider upgrading.

The new release bundles both esm or commonjs (so it's a bundler's choice then).

[2022-02-18 14:36] #54 closed, assigned to nobody

[2022-03-04 12:01] jkorrek opened #93 "CategoryImpl does not pass down arguments in a correct way"
When I was looking at updating to the new major version I noticed a somewhat unexpected behaviour when using the category style logger.

I noticed, that the "args" always seemed to be wrapped into an additional array.
For example logging with a single argument `{ a: 1 }` would be passed to my log channel as `[ [ { a: 1 } ] ]`.

As far as I can tell, this is related to CategoryImpl, which is not us

[2022-03-04 18:49] mreuvers commented on #93
Hi there,

Thank you for reporting this. This seems like a bug indeed on first glance.

I'll have a look at it soon, to make sure I can reproduce it as well. If so, it will be fixed with a minor patch version. I'll keep you informed here.

Thanks!

[2022-03-06 09:26] mreuvers commented on #93
The issue was resolved by https://github.com/vauxite-org/typescript-logging/pull/94 (as to how you suggested). Some tests were added to cover as well.

In any case version 2.0.1 should be available in npm shortly.

I leave this issue open for a few more days so you can test it, please let me know if it works. Thanks!

[2022-03-07 07:16] jkorrek commented on #93
Just tested with the new release - everything works as expected.
Thanks a lot for your quick response & help 👍

[2022-03-07 07:16] #93 closed, assigned to mreuvers

[2022-07-22 11:34] mreuvers opened #102 "Merging custom configs for log4ts/category styles incorrectly merge the LogLevel when set to LogLevel.Trace"
This errenous behavior results in the level set to the default LogLevel.Error instead.

See #101 for log4ts fix.

Also add covering tests.

[2022-07-22 11:38] mreuvers opened #103 "Release 2.0.2"
Also bump dependencies to get rid of the dependabot warnings (even though they're only in dev dependencies).

[2022-07-25 05:09] #102 closed, assigned to mreuvers

[2022-07-25 05:57] #103 closed, assigned to mreuvers